@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main_blue: #6366F1;
    --pure_white: #ffffff;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

.hover-fill svg {
    fill: var(--main_blue);
}

.hover-fill:hover svg {
    fill: var(--pure_white) !important;
}

.css-80pr5n-MuiPaper-root {
    padding: 0.2em;
    border-radius: 0.3em !important;
    box-shadow: none !important;
    border-color: rgb(75 75 75 / 0.2);
    border-width: 1.2px;
}
